 .button {
   position: fixed;
    width: 10%;
    height: 100px;
    top: 18em;
    background-color: #B0D8A3;
    font-family: Dosis;
    font-style: normal;
    font-weight: 60;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    border: 1px solid #B0D8A3;
    border-radius: 20px;
    left: 50%;
 }